<form id="form-handle-all" class="mt-4"  method="POST" action="/course/handle-all">
    <h2 class="text-center">Khóa học của tôi</h2>
    {{#if deletedAmount}}
        <p><a href="/me/trash/courses">Thùng rác ({{deletedAmount}})</a></p>
    {{/if}}

    <div class="mt-4 d-flex">
        <label for="select-all-checkbox" class="input-group-text">
          <input id="select-all-checkbox" type="checkbox" aria-label="Checkbox for following text input">
        </label>
        <select class="custom-select" id="actions" name="action" required>
          <option value="">--Lựa chọn--</option>
          <option value="delete">Xóa</option>
        </select>
        <button id="btn-submit" type="submit" class="btn btn-primary disabled" disabled>Thực hiện</button>
    </div>

    <div class="mt-4">
        <table class="table ">
            <thead class="bg-dark text-light">
                <tr>
                  <th>#</th>
                  <th scope="col">STT</th>
                  <th>ID
                    {{{sortable '_id' _sort}}}
                  </th>
                  <th scope="col">Tên khóa học
                    {{{sortable 'name' _sort}}}
                  </th>
                  <th scope="col">Mô tả</th>
                  <th scope="col" colspan="3">Thời gian cập nhật
                    {{{sortable 'updatedAt' _sort}}}
                  </th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <td>
                        <input class="checkbox-course-item" name="courseIds[]" value="{{this._id}}" type="checkbox" >
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this._id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td>
                        <a href="/course/{{this._id}}/edit">Sửa</a>
                    </td>
                    <td>
                        <a href="" data-toggle="modal" data-target="#deleteModal" data-id="{{this._id}}">Xóa</a>
                    </td>
                </tr>
                  {{else}}
                    <td class="text-center" colspan="6">Bạn chưa đăng khóa học nào!! <a href="/course/create">Tạo khóa mới ngay</a></td>
                {{/each}}
            </tbody>
        </table> 
    </div>   
</form>

<form id="form-delete" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa khóa học này?
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Script --}}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let idCourse;
        const deleteBtn = document.getElementById('btn-delete')
        const formDelete = document.forms['form-delete']
        const formHandleAll = $('#form-handle-all')
        const selectAllCheckbox = $('#select-all-checkbox')
        const checkBoxCourseItems = $('.checkbox-course-item')
        const btnSubmit = $('#btn-submit')
        
        //Click dialog delete
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            idCourse = button.data('id') 
        })
        
        // Handle delete course
        deleteBtn.onclick = () => {
            formDelete.action = `/course/${idCourse}/?_method=DELETE`
            formDelete.submit()
        }

        //Handle select all checkbox items
        selectAllCheckbox.change(function(){
            let isCheckedAll = $(this).is(':checked')
            checkBoxCourseItems.prop('checked', isCheckedAll)
            renderSubmittableBtn()
        })

        // Checkbox course item on change
        checkBoxCourseItems.change(function(){
            let isCheckedAll = checkBoxCourseItems.length === $('input[name="courseIds[]"]:checked').length
            selectAllCheckbox.prop('checked', isCheckedAll)
            renderSubmittableBtn()
        })

        formHandleAll.on('submit' ,function(e){
            let isSubmitted = !btnSubmit.hasClass('disabled')
            if(!isSubmitted){
                e.preventDefault()
            } 
        })

        // Re-render check all submit button
        const renderSubmittableBtn = () => {
            const totalCheckedCourse = $('input[name="courseIds[]"]:checked').length
            if(totalCheckedCourse > 0){
              btnSubmit.removeClass('disabled')
              btnSubmit.attr('disabled', false)
            }else{
              btnSubmit.addClass('disabled')
              btnSubmit.attr('disabled', true)
            }
        }
    })

</script>