<div class="mt-4">
    <h2>Khóa học của tôi</h2>
    <div class="mt-4">
        <table class="table ">
            <thead class="bg-dark text-light">
                <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Mô tả</th>
                <th scope="col" colspan="3">Thời gian cập nhật</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/course/{{this._id}}/edit">Sửa</a>
                    </td>
                    <td>
                        <a href="">Xóa</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table> 
    </div>   
</div>