<div class="mt-4">
    <h2>Khóa học của tôi</h2>
    <div class="mt-4">
        <table class="table ">
            <thead class="bg-dark text-light">
                <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Mô tả</th>
                <th scope="col" colspan="3">Thời gian cập nhật</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td>
                        <a href="/course/{{this._id}}/edit">Sửa</a>
                    </td>
                    <td>
                        <a href="" data-toggle="modal" data-target="#deleteModal" data-id="{{this._id}}">Xóa</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table> 
    </div>   
</div>

<form id="form-delete" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa khóa học này?
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Script --}}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let idCourse;
        //Click dialog delete
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            idCourse = button.data('id') 
        })
        
        const deleteBtn = document.getElementById('btn-delete')
        const formDelete = document.forms['form-delete']
        // Handle delete course
        deleteBtn.onclick = () => {
            formDelete.action = `/course/${idCourse}/?_method=DELETE`
            formDelete.submit()
        }
    })

</script>